{% extends 'base.html' %}

{% block title%}
<title > о проекте </title>
{% endblock %}

{% block body%}
<div class="container">
    <h1> О проекте </h1>
    <p> Альберт! Попробуете написать веб-сервис с возможностью авторизации пользователей?<br> Создать две страницы: до авторизации и после.
<br>К примеру: найти очень простой шаблон фронта на html/css/js и в шапке сайта активировать страницу «мой профиль».<br> Можно подключить sql бд, а можно сделать in-memory
<br>Да, давайте попробую </br>
</div>
{%endblock%}